pip==24.2
setuptools<70
wheel

streamlit==1.39.0
numpy==1.26.4
pillow==10.4.0
opencv-python-headless==4.9.0.80

--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.4.1+cpu
torchvision==0.19.1+cpu
torchaudio==2.4.1+cpu

ultralytics==8.3.25